/*style for sending btn*/
.sendBtn {
    width: 100%;
    padding: 15px 0;
    border-radius: 30px;
    border: none;
    background-color: #0575e6;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

.sendBtnDisbled {
    width: 100%;
    padding: 15px 0;
    border-radius: 30px;
    border: none;
    background-color: #0575e6;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}
@media screen and (min-width: 700px) {
    .sendBtn:hover {
        cursor: pointer;
        box-shadow: 0 0 4px 0 #787878;
    }
}
