.errorPage {
    width: 100%;
    height: 100vh;
    background-color: #E4ECF1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorPage .img404 {
    width: 400px;
    animation: imageAnim 3s alternate infinite ease-in-out;
}

.errorPage .textmsg {
    color: #0575E6;
    font-size: .85em;
    font-weight: bold;
}

@keyframes imageAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}