/*style of formpage*/
@keyframes AnimLoading {
    form {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.containerForm {
    width: 100%;
    display: flex;
}

/*presentation side*/
.containerForm .presentation {
    position: relative;
    width: 60%;
    height: 100vh;
    background: linear-gradient(to top, #021b79, #0575e6);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.containerForm .presentation .containerPresentation {
    animation: AnimLoading 2s alternate-reverse;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.containerForm .presentation h1 {
    margin: 0;
    padding: 0;
    font-family: poppinBlack;
    color: #eaeef1;
    font-size: 2.1em;
}

.containerForm .presentation span {
    color: #eaeef1;
    font-size: 1.2em;
}

.containerForm .presentation .linkBtn {
    margin-top: 10px;
    text-decoration: none;
    color: #eaeef1;
    font-size: 0.9em;
    padding: 8px 25px;
    background-color: #0575e6;
    border: #0575e6;
    border-radius: 20px;
    box-shadow: 0 0 1px 0 #143dd3;

    text-align: center;
    width: 90px;
    width: fit-content;
}

/*Illustrations*/
.containerForm .presentation .illustration {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    z-index: 0;
}

.containerForm .presentation .illustration .circles {
    width: 0;
    height: 0;
    padding: 250px;
    border: solid 1px #0575e6;
    border-radius: 50%;
    animation: AnimLoading alternate-reverse 2s;
}
.containerForm .presentation .illustration .cr1 {
    position: absolute;
    left: -200px;
    bottom: -280px;
}

.containerForm .presentation .illustration .cr2 {
    position: absolute;
    bottom: -300px;
    left: -110px;
}

/*formular side*/
.containerForm .formDatas {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm .formDatas .DisplayingContainerForm {
    min-width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.containerForm .formDatas .DisplayingContainerForm .titles {
    display: flex;
    flex-direction: column;
    color: #263238;
}

.containerForm .formDatas .DisplayingContainerForm .titles h2 {
    margin: 0;
    font-weight: bold;
}

.containerForm .formDatas .DisplayingContainerForm .titles span {
    font-size: 1.2em;
}

.containerForm .formDatas .ContainerFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
/*END*/

/*Media querry styles*/

@media screen and (max-width: 990px) {
    /*presentation side*/
    .containerForm .presentation {
        width: 55%;
    }
    .containerForm .formDatas {
        width: 45%;
    }
}

@media screen and (max-width: 720px) {
    .containerForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .containerForm .presentation {
        align-items: flex-start;
        padding-top: 50px;
        width: 100%;
        min-height: 250px;
        height: 35vh;
        box-shadow: 0 0 8px 0 #263238;
    }
    .containerForm .presentation .containerPresentation {
        width: 90%;
    }
    .containerForm .formDatas {
        width: 100%;
    }
    .containerForm .formDatas .DisplayingContainerForm {
        margin-bottom: 40px;
    }
    .containerForm .presentation .illustration .circles {
        padding: 100px;
    }
    .containerForm .presentation .illustration .cr1 {
        position: absolute;
        left: -90px;
        bottom: -100px;
    }

    .containerForm .presentation .illustration .cr2 {
        position: absolute;
        bottom: -110px;
        left: -50px;
    }
}

@media screen and (max-width: 480px) {
    .containerForm .presentation h1 {
        font-size: 1.7em;
    }

    .containerForm .presentation span {
        font-size: 0.8em;
    }

    .containerForm .formDatas .DisplayingContainerForm {
        padding: 0 20px;
        gap: 30px;
    }

    .containerForm .formDatas .DisplayingContainerForm .titles h2 {
        font-size: 1.2em;
    }

    .containerForm .formDatas .DisplayingContainerForm .titles span {
        font-size: 0.9em;
    }
}
